<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.saveetha.myjoints">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyJoints"
        android:usesCleartextTraffic="true">

        <!-- 🚀 Launcher Activity -->
        <activity
            android:name="com.saveetha.myjoints.MainActivity"
            android:exported="true">

        </activity>

        <!-- Patient & Doctor Related Activities -->
        <activity android:name="com.saveetha.myjoints.LoginActivity" android:exported="false" />
        <activity android:name="com.saveetha.myjoints.PatientLoginActivity" android:exported="false" />
        <activity android:name="com.saveetha.myjoints.PatientSignupActivity" android:exported="false" />
        <activity android:name="com.saveetha.myjoints.PatientDashboardActivity" android:exported="false" />
        <activity android:name="com.saveetha.myjoints.DoctorLoginActivity" android:exported="false" />
        <activity android:name="com.saveetha.myjoints.DoctorSignupActivity" android:exported="false" />
        <activity android:name="com.saveetha.myjoints.DoctorHomeActivity" android:exported="false" />

        <!-- App Functional Screens -->
        <activity android:name="com.saveetha.myjoints.ComplaintsActivity" android:exported="false" />
        <activity android:name="com.saveetha.myjoints.ComorbiditiesActivity" android:exported="false" />
        <activity android:name="com.saveetha.myjoints.DailySelfAssessmentActivity" android:exported="false" />
        <activity android:name="com.saveetha.myjoints.MedicationsActivity" android:exported="false" />
        <activity android:name="com.saveetha.myjoints.InvestigationsActivity" android:exported="false" />
        <activity android:name="com.saveetha.myjoints.TreatmentsActivity" android:exported="false" />
        <activity android:name="com.saveetha.myjoints.DietRecommendationsActivity" android:exported="false" />
        <activity android:name="com.saveetha.myjoints.ExerciseRecommendationsActivity" android:exported="false" />
        <activity android:name="com.saveetha.myjoints.ConsultNowActivity" android:exported="false" />

        <!-- History Screens -->
        <activity android:name="com.saveetha.myjoints.MedicalRecordsActivity" android:exported="false" />
        <activity android:name="com.saveetha.myjoints.MedicationsHistoryActivity" android:exported="false" />
        <activity android:name="com.saveetha.myjoints.InvestigationHistoryActivity" android:exported="false" />
        <activity android:name="com.saveetha.myjoints.TreatmentsHistoryActivity" android:exported="false" />
        <activity android:name="com.saveetha.myjoints.ComplaintHistoryActivity" android:exported="false" />
        <activity android:name="com.saveetha.myjoints.DoctorComorbiditiesHistoryActivity" android:exported="false" />
        <activity android:name="com.saveetha.myjoints.ReferralHistoryActivity" android:exported="false" />

        <!-- Disease Scores -->
        <activity
            android:name="com.saveetha.myjoints.DiseaseScoresActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- ✅ NEW: Tender Joints Screen -->
        <activity
            android:name="com.saveetha.myjoints.TenderJointsActivity"
            android:exported="false" />

        <!-- Misc -->
        <activity android:name="com.saveetha.myjoints.MyPatientsActivity" android:exported="false" />
        <activity android:name="com.saveetha.myjoints.SettingsActivity" android:exported="false" />

    </application>

</manifest>
